@{ ViewData["Title"] = "Home Page"; }
@model List<ContactManagerApplication.Models.Contact>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (Model.Any())
{
    <h2>Contacts</h2>
    <table class="table table-hover" id="contactsTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Birth Date</th>
            <th>Is Married</th>
            <th>Phone</th>
            <th>Salary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Contact contact in Model)
        {
            <tr>
                <td>@contact.Name</td>
                <td>@contact.BirthDate.ToShortDateString()</td>
                <td><input type="checkbox" checked="@contact.IsMarried"/></td>
                <td>@contact.Phone</td>
                <td>@contact.Salary</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <form method="post" enctype="multipart/form-data" asp-action="UploadCsv">
        <div>
            <label class="form-label" for="fileInput">Upload .csv file:</label>
            <input class="form-control" type="file" name="file" id="fileInput">
        </div>

        <button class="btn btn-primary mt-3" type="submit">Submit</button>
    </form>
}

@section Styles
{
    <link rel="stylesheet" href="~/lib/jquery-datatables/datatables.min.css">
}

@section Scripts
{
    <script src="~/lib/jquery-datatables/datatables.min.js"></script>

    <script>
        $(document).ready(function() {
           $('#contactsTable').DataTable({
               paging: true,
               searching: true,
               ordering: true,
               columnDefs: [
                   {
                       orderable: true,
                       targets: '_all'
                   }
               ],
               initComplete: function() {
                   this.api().columns().every(function() {
                       const column = this;
                       const header = $(column.header());
                       const input = $('<input type="text" placeholder="Filter..." class="form-control form-control-sm" />')
                           .appendTo(header)
                           .on('keyup change', function() {
                               if (column.search() !== this.value) {
                                   column.search(this.value).draw();
                               }
                           });
                   });
               }
           });
        });
    </script>
}
